@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-bg {
  background-image: url("/images/login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}

.banner-bg{
  background-image: url("/images/hotel1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
